@charset "utf-8";
/* --------------------------------------------------------
	style
-------------------------------------------------------- */
body{
  font-family:'メイリオ','ヒラギノ角ゴ Pro W3','ＭＳ Ｐゴシック',sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff;
  font-size: 16;
  }
#container{
  width: 100%;
  max-width: 100%; /* レスポンシブ対応 */
  margin: 0 auto;
  background-color: #ffffff;
  font-size: 6rem;
  text-align: center;
}
/* タイマー */
.count{
 font-weight: 900;
 color: #888888;
}
.wrap{
 margin: 20px 0 0 0;
 padding: 80px 40px;
 background-color: #666666;
 font-weight: 900;
 color: #ffffff;
}
 /* 正しくタイプされた場合のテキスト */
 .typed {
  color: #90ee90;
}
/* ミスタイプの場合の背景 */
.mistyped {
  background-color: #ff0000;
}















/* PCのみで表示 */
.pc { display: block; }
.sp { display: none; }


@media screen and (max-width: 559px){
/* SPのみで表示 */
.pc { display: none; }
.sp { display: block; }
img { max-width: 100%; }
  }